#ACCESS_TOKEN="QVBQX1VTUi01NTA1MDE0NTkxODYzNjgtMDUyNzIwLTlmZjVmNGIzYWE0MTEwZGRhMzU2YzQzYzUwZGJjOTVhLTE2NDgwMjY="
#la 2da tiene mas datos
ACCESS_TOKEN="QVBQX1VTUi00NjU1NDQ2MTA4Mzc1ODMxLTA2MjYxOS03NmNhOGQxY2I4OTFiZWM2OTVmZWM3ZjY0NGJmZjlhNS0zMDUwMzE3MDQ="
API_URL=https://api.mercadopago.com/v1/payments/
USER=rodi
PASSWORD="MTIzNA=="
