* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 20%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 42%;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-bottom: 15%;
  }

  .login-form {
    margin-top: 50%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.pass {
  position: relative;
}
.bi {
  position: absolute;
  top: 33px;
  right: 1px;
  padding: 6px;
  background-color: rgb(204, 204, 204, 0.5);
  border-left: 1px solid rgb(0, 0, 0, 0.5);
}

.bi:hover {
  cursor: pointer;
}

.login-btn:hover {
  color: white !important;
}

.navbar {
  padding-top: 1.7rem !important;
  padding-bottom: 1.7rem !important;
  font-family: 'Roboto Mono', sans-serif;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: #fff !important;
}
