:root {
  --main-bg-color: #ededed;
  --btn-color: #40b6ea;
  --table-content: #4a4a4a;
  --head-bg-color: #008ad6;
  --tablehead-bg-color: #009ee3;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/proximanova_regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('/css/fonts/proximanova_light.otf');
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('/css/fonts/proximanova_bold.otf');
  font-weight: bold;
  font-style: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova' !important;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: rgba(253, 187, 45, 0.1) !important;
  min-height: 100vh;
}

header {
  padding-bottom: 1rem;
}

.content {
  margin-left: 1rem !important;
}

.gridjs-td a {
  text-decoration: none;
  color: black;
  transition: color 0.25s ease-in-out;
  font-weight: bold;
}

.gridjs-td a:hover {
  color: var(--head-bg-color);
}

.btn {
  background-color: var(--tablehead-bg-color) !important;
  color: #fff !important;
  transition: background-color 0.2s ease-in;
  padding: 0.5rem 2.5rem !important;
  font-size: 18px !important;
  letter-spacing: 1px !important;
}

.btn:hover {
  background-color: #007eb5 !important;
}

.gridjs-pagination {
  color: #fff !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color: rgb(64, 182, 234, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}
