<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <%- include('partials/links') %>

    <title><%= title %> | MP Payments</title>
  </head>
  <body>
    <header class="mb-4"><%- include('partials/header') %></header>
    <!-- <div class="alert alert-warning text-center p-4"> -->
    <div class="container">
      <div class="row col-8">
        <section class="card" id="container"></section>
      </div>
    </div>

    <script defer>
      let container = document.getElementById('container');
      let dataGrid = '<%- data %>';

      let jsonGrid = new JSONGrid(JSON.parse(dataGrid), container);
      jsonGrid.render();
    </script>
  </body>
</html>
