<nav class="navbar navbar-expand-lg navbar-light bg-secondary shadow">
  <div class="container">
    <h2 class="navbar-brand">MP Payments | JSON Grid</h2>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
